# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
coverage/lcov.info
coverage/html/amber.png
coverage/html/cmd_line
coverage/html/emerald.png
coverage/html/gcov.css
coverage/html/glass.png
coverage/html/index-sort-f.html
coverage/html/index-sort-l.html
coverage/html/index.html
coverage/html/ruby.png
coverage/html/snow.png
coverage/html/updown.png
coverage/html/bloc/index-sort-f.html
coverage/html/bloc/index-sort-l.html
coverage/html/bloc/index.html
coverage/html/bloc/pet_bloc.dart.gcov.html
coverage/html/bloc/pet_event.dart.gcov.html
coverage/html/bloc/pet_state.dart.gcov.html
coverage/html/models/index-sort-f.html
coverage/html/models/index-sort-l.html
coverage/html/models/index.html
coverage/html/models/pet_model.dart.gcov.html
coverage/html/models/pet_model.g.dart.gcov.html
coverage/html/repositories/index.html
coverage/html/repositories/pet_repository.dart.gcov.html
coverage/html/screens/details_screen.dart.gcov.html
coverage/html/screens/index.html
coverage/html/theme/index.html
coverage/html/theme/theme.dart.gcov.html
coverage/html/utils/data.dart.gcov.html
coverage/html/utils/extensions.dart.gcov.html
coverage/html/utils/index-sort-f.html
coverage/html/utils/index-sort-l.html
coverage/html/utils/index.html
coverage/html/widgets/cache_image.dart.gcov.html
coverage/html/widgets/confetti.dart.gcov.html
coverage/html/widgets/image_viewer.dart.gcov.html
coverage/html/widgets/index-sort-f.html
coverage/html/widgets/index-sort-l.html
coverage/html/widgets/index.html
coverage/html/widgets/pet_card.dart.gcov.html
coverage/html/widgets/pet_state.dart.gcov.html
coverage/html/widgets/small_chip.dart.gcov.html
coverage/amber.png
coverage/cmd_line
coverage/emerald.png
coverage/gcov.css
coverage/glass.png
coverage/index-sort-f.html
coverage/index-sort-l.html
coverage/index.html
coverage/lcov_cleaned.info
coverage/ruby.png
coverage/snow.png
coverage/updown.png
coverage/bloc/index-sort-f.html
coverage/bloc/index-sort-l.html
coverage/bloc/index.html
coverage/bloc/pet_bloc.dart.gcov.html
coverage/bloc/pet_event.dart.gcov.html
coverage/bloc/pet_state.dart.gcov.html
coverage/models/index-sort-f.html
coverage/models/index-sort-l.html
coverage/models/index.html
coverage/models/pet_model.dart.gcov.html
coverage/models/pet_model.g.dart.gcov.html
coverage/repositories/index.html
coverage/repositories/pet_repository.dart.gcov.html
coverage/screens/details_screen.dart.gcov.html
coverage/screens/index.html
coverage/theme/index.html
coverage/theme/theme.dart.gcov.html
coverage/utils/data.dart.gcov.html
coverage/utils/extensions.dart.gcov.html
coverage/utils/index-sort-f.html
coverage/utils/index-sort-l.html
coverage/utils/index.html
coverage/widgets/cache_image.dart.gcov.html
coverage/widgets/confetti.dart.gcov.html
coverage/widgets/image_viewer.dart.gcov.html
coverage/widgets/index-sort-f.html
coverage/widgets/index-sort-l.html
coverage/widgets/index.html
coverage/widgets/pet_card.dart.gcov.html
coverage/widgets/pet_state.dart.gcov.html
coverage/widgets/small_chip.dart.gcov.html
